@import url('https://fonts.googleapis.com/css?family=Dosis|Caveat|Roboto+Condensed');

body {
  margin: 0;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em calc(2rem + ((1vw - 4.8px) * 5));
  background-color: rgb(244, 194, 97);
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 1;
  width: calc(100vw - 2rem - ((1vw - 4.8px) * 5));
}

#navLogo {
  width: calc(10rem + ((1vw - 4.8px) * 7.5));
}

#navLogo img {
  height: auto;
  width: 100%;
}

#navList {
  display: flex;
  flex-direction: row;
}

#navList div {
  display: flex;
  position: relative;
  margin: 0 calc(.1rem + ((1vw - 4.8px) * 1));
}

#navList div a {
  font-family: 'Dosis';
  text-decoration: none;
  font-size: calc(1rem + ((1vw - 4.8px) * 1.125));
  padding: calc(.1rem + ((1vw - 4.8px) * .5)) calc(1rem + ((1vw - 4.8px) * 1));
  color: white;
  text-shadow: 0 0 5px #000000;
}

#navList div span {
  position: absolute;
  background-color: #FF0000;
  transition: transform .5s ease;
  box-shadow: 0 0 2px white;
}

.bottom, .top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left, .right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

#navList div a:hover~.bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

#navList div a:hover~.right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

#navList div a:hover~.top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

#navList div a:hover~.left {
  transform-origin: top left;
  transform: scaleY(1);
}

.scroll-container section {
  background-color: rgb(244, 194, 97);
  display: flex;
  flex-direction: row;
}

.homeText {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  user-select: none;
}

.homeText h1 {
  font-family: 'Caveat';
  margin: 0;
  font-size: calc(1.5rem + ((1vw - 4.8px) * 2));
  line-height: 1em;
}

.homeText h1:first-child {
  margin-left: 3em;
}

.homeText h1:nth-child(2) {
  font-size: calc(2.5rem + ((1vw - 4.8px) * 4));
}

.homeText h1:nth-child(3) {
  margin-right: 3em;
}

.homeText h1:nth-child(4), .homeText h1:nth-child(2) span {
  font-size: calc(2rem + ((1vw - 4.8px) * 3));
}

.homeText h2 {
  font-family: 'Roboto Condensed';
  font-size: calc(.75rem + ((1vw - 4.8px) * 1));
  padding: 2em calc(1rem + ((1vw - 4.8px) * 10));
  text-shadow: 1px 1px 1px #000000;
}

.homePic {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.homePic img {
  filter: drop-shadow(0 0 12px #000);
  width: 75%;
  height: auto;
}