@import url('https://fonts.googleapis.com/css?family=Dosis|Caveat|Roboto+Condensed');

body {
  margin: 0;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em calc(2rem + ((1vw - 4.8px) * 5));
  background-color: rgb(244, 194, 97);
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 1;
  width: calc(100vw - calc((2rem + ((1vw - 4.8px) * 5))) * 2);
}

#navLogo {
  width: calc(10rem + ((1vw - 4.8px) * 7.5));
}

#navLogo img {
  height: auto;
  width: 100%;
}

#navList {
  display: flex;
  flex-direction: row;
}

#navList div {
  display: flex;
  position: relative;
  margin: 0 calc(.1rem + ((1vw - 4.8px) * 1));
}

#navList div a {
  font-family: 'Dosis';
  text-decoration: none;
  font-size: calc(1rem + ((1vw - 4.8px) * 1.125));
  padding: calc(.1rem + ((1vw - 4.8px) * .5)) calc(1rem + ((1vw - 4.8px) * 1));
  color: white;
  text-shadow: 0 0 5px #000000;
  transition: background-color 0.3s ease-in-out;
}

#navList div span {
  position: absolute;
  background-color: #FF0000;
  transition: transform .5s ease;
  box-shadow: 0 0 2px black;
}

.bottom, .top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left, .right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

#navList div a:hover~.bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
}

#navList div a:hover~.right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
}

#navList div a:hover~.top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
}

#navList div a:hover~.left {
  transform-origin: top left;
  transform: scaleY(1);
}

.scroll-container section {
  background-color: rgb(244, 194, 97);
  display: flex;
  flex-direction: row;
}

.homeText {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  user-select: none;
}

.homeText h1 {
  font-family: 'Caveat';
  margin: 0;
  font-size: calc(1.5rem + ((1vw - 4.8px) * 2));
  line-height: 1em;
}

.homeText h1:first-child {
  margin-left: 3em;
}

.homeText h1:nth-child(2) {
  font-size: calc(2.5rem + ((1vw - 4.8px) * 4));
}

.homeText div h1:nth-child(1) {
  margin-right: 3em;
}

.homeText div h1:nth-child(2), .homeText h1:nth-child(2) span {
  font-size: calc(2rem + ((1vw - 4.8px) * 3));
}

.homeText h2 {
  font-family: 'Roboto Condensed';
  font-size: calc(.75rem + ((1vw - 4.8px) * 1));
  padding: 2em calc(1rem + ((1vw - 4.8px) * 10));
  text-shadow: 1px 1px 1px #000000;
  line-height: 150%;
}

.homePic {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.homePic img {
  filter: drop-shadow(0 0 12px #000);
  width: 75%;
  height: auto;
}

#homePizza h1:first-child {
  margin-right: 3em;
  margin-left: 0;
}

#homePizza h1:nth-child(2) {
  letter-spacing: .125em;
}

#homeApp h1, #homeBev h1 {
  font-size: calc(2.5rem + ((1vw - 4.8px) * 4));
  margin: 0;
}

#footer {
  position: relative;
}

#footer footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: 'Roboto Condensed';
  line-height: 300%;
  color: #808080;
  font-size: calc(.75rem + ((1vw - 4.8px) * .375));
}

@media only screen and (max-device-width: 480px) {
  #nav {
    flex-direction: column;
  }

  #navList div a {
    font-size: calc(1.5rem + ((1vw - 4.8px) * 1.125));
  }

  .scroll-container section {
    flex-direction: column-reverse;
  }

  .homeText {
    width: 100%;
  }

  .homeText h1:nth-child(2) {
    font-size: calc(4.5rem + ((1vw - 4.8px) * 4));
  }

  .scroll-container section:first-child h1:first-child {
    display: none;
  }

  .scroll-container section:first-child>div>div {
    display: flex;
    flex-direction: row;
  }

  .scroll-container section:first-child>div>div h1:first-child {
    display: block;
    margin-left: 0;
    margin-right: .5em;
  }

  .scroll-container section:first-child>div>div h1:last-child {
    font-size: calc(2.5rem + ((1vw - 4.8px) * 4));
  }

  .scroll-container section:first-child div h2, .scroll-container section:nth-child(3) div h2 {
    margin: 0;
    padding: 1.5em calc(3rem + ((1vw - 4.8px) * 10));
  }

  .homeText h2 {
    font-size: calc(1.25rem + ((1vw - 4.8px) * 1));
    padding: 2em calc(3rem + ((1vw - 4.8px) * 10));
  }

  .homePic {
    width: 100%;
  }

  .homePic img {
    width: 90%;
  }

  #homeApp h1, #homeBev h1 {
    font-size: calc(5rem + ((1vw - 4.8px) * 4));
  }
}

/* Menu */
.content {
  width: 100%;
}

.content>div {
  display: flex;
  flex-direction: row;
}

.menuPizza>div.menuImg {
  background-image: url(../IMG/food/menuPizza.webp);
}

.menuSandwich>div.menuImg {
  background-image: url(../IMG/food/menuSandwich.webp);
}

.menuAppe>div.menuImg {
  background-image: url(../IMG/food/menuAppe.webp);
}

.menuImg {
  background-position: -5% 50%;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  width: 40%;
}

.menuText {
  width: 60%;
  padding: 1em;
}

.menuText * {
  font-family: 'Roboto Condensed';
  font-weight: normal;
  margin: 0;
}

.menuText h2 {
  text-align: center;
  line-height: 160%;
  font-size: calc(1.25rem + ((1vw - 4.8px) * 1));
  background-color: #F5D49C;
  color: #A0261C;
}

.menuItem {
  display: flex;
  flex-direction: row;
  padding: calc(.5rem + ((1vw - 4.8px) * .25)) 0;
}

.menuItem>div:first-child {
  width: 80%;
}

.menuItem>div:first-child>* {
  line-height: 160%;
}

.menuItem>div:last-child {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuItem>div:first-child h3 {
  color: #C2002F;
  font-size: 1.5em;
  text-transform: uppercase;
}

.menuItem>div:first-child h4 {
  font-size: 1em;
  text-transform: capitalize;
}

.menuItem>div:first-child h4>span {
  font-weight: bold;
  font-size: 1.1em;
}

.menuItem>div:last-child h3 {
  font-size: calc(.75rem + ((1vw - 4.8px) * 1));
  text-align: center;
  padding: .25em 0;
  margin: 0 1em;
  border-bottom: 1px solid black;
  line-height: 140%;
}

.foot {
  text-align: center;
  width: 100%;
  font-family: 'Roboto Condensed';
  line-height: 300%;
  color: #808080;
  font-size: calc(.75rem + ((1vw - 4.8px) * .375));
  background-color: rgb(244, 194, 97);
}

::-webkit-scrollbar {
  width: 0px;
}

/* Contact */
#contact {
  display: flex;
  flex-direction: row;
}

#contact>div {
  width: 33.3%;
  flex-direction: column;
  padding: 1em;
  margin: 1em 0;
}

#contact>div>h3, #contact>div>h4 {
  margin: 0;
  font-family: 'Roboto Condensed';
  line-height: 160%;
  font-size: calc(1rem + ((1vw - 4.8px) * .25));
}

#contact>div>h3 {
  font-weight: bold;
}

#contact>div>h4 {
  font-weight: normal;
  color: #333333;
}

.contactLeft {
  border-right: 1px solid black;
  text-align: right;
}

.contactRight {
  text-align: left;
  border-left: 1px solid black;
}

.contactRight>h4>span {
  font-weight: bold;
}

.map {
  overflow: hidden;
  padding-bottom: 90%;
  position: relative;
  height: 0;
  box-shadow: 0 0 5px grey;
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contactCenter>iframe {
  margin: .5em 0;
}